{% extends "oscar/layout.html" %}

{% comment %}
Keep the same header and footer as the standard layout template but override the
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}

<div class="wrapper bg-dark-white">
{% block breadcrumbs %}{% endblock %}
<div class="">
    <div class="product-area pt-80 pb-80 product-style-2">
        <div class="container">
            <div class="row">
                <aside class="col-lg-3 order-2 order-lg-1">
                    {% block column_left %}{% endblock %}
                    {% block column_left_extra %}{% endblock %}
                </aside>

                <div class="col-lg-9 order-2 order-lg-2">
                    {% include "oscar/partials/alert_messages.html" %}
                    {% block pre_content %}{% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
     </div>
  </div><!-- /row -->
</div><!-- /page_inner -->
<!-- /container -->
{% endblock %}
