{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}

<div class="container">
    <div class="row">
        <!-- Login Form -->
        <div class="col-lg-12">
            <div class="customer-login text-left">
                <h4 class="title-1 title-border text-uppercase mb-30">
                    {% trans 'Change Password' %}
                </h4>
                 {% include 'oscar/partials/form.html' with form_id="change_password_form" %}
            </div>
        </div>
    </div>
</div>

{% endblock tabcontent %}
