{% extends "oscar/customer/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}

<div class="shop-cart-table">
    <div class="table-content table-responsive">
           <h4 class="title-1 title-border text-uppercase mb-30">
                {% trans 'Profile' %}
            </h4>
        <table>
            <thead>
                <tr>
                    <th style="text-align: start">{% trans 'Name' %}</th>
                    <th>{% trans 'Value' %}</th>
                </tr>
            </thead>
            <tbody>
                <!-- User's Full Name -->
                <tr>
                    <td class="floatleft" style="font-weight: bold;">{% trans 'Full Name' %}</td>
                    <td>{{ user.get_full_name|default:'-' }}</td>
                </tr>

                <!-- User's Email Address -->
                <tr>
                    <td class="floatleft" style="font-weight: bold">{% trans 'Email address' %}</td>
                    <td>{{ user.email }}</td>
                </tr>

                <!-- Loop Through Profile Fields -->
                {% block profile_fields %}
                    {% for field in profile_fields %}
                        <tr>
                            <td class="floatleft" style="font-weight: bold">{{ field.name }}</td>
                            <td>{{ field.value|default:"-" }}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}

                <!-- User's Date Registered -->
                <tr>
                    <td class="floatleft" style="font-weight: bold">{% trans 'Date registered' %}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="floatright">
    <a href="{% url 'customer:change-password' %}" data-text="change password" class="button-one submit-button mt-15">{% trans 'Change password' %}</a>
    <a href="{% url 'customer:profile-update' %}" data-text="edit profile" class="button-one submit-button mt-15" style="background: #6c757d">{% trans 'Edit profile' %}</a>
    <a id="delete_profile" href="{% url 'customer:profile-delete' %}" data-text="delete profile" class="button-one submit-button mt-15" style="background: #dc3545">{% trans 'Delete profile' %}</a>
</div>
{% endblock %}
