{% extends "oscar/catalogue/browse.html" %}

{% load i18n %}

{% block title %}
    {{ category.get_meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.get_meta_description }}
{% endblock %}

{% block header%}
    <div class="page-header">
        {% if user.is_staff %}
            <a class="float-right d-none d-md-block" href="{% url 'dashboard:catalogue-category-update' pk=category.id %}">
              <small><i class="fas fa-pencil-alt"></i> {% trans "Edit this category" %}</small></a>
        {% endif %}
        <h1>{% block headertext %}{{ category.name }}{% endblock %}</h1>
    </div>
{% endblock %}


 {% block breadcrumb_summary %}
    {% for category in category.get_ancestors %}
        <li class="breadcrumb-item"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
    {% endfor %}
    <li class="" aria-current="page">{{ category.name }}</li>
{% endblock breadcrumb_summary %}

