{% extends "oscar/checkout/layout.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load purchase_info_tags %}
{% load static %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
<div class="bg-dark-white">
    {% include 'oscar/checkout/nav.html' %}
    </div>
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

<div class="container">
  <div class="shop-cart-table check-out-wrap">
    <div class="row shipping-payment">
        {% block shipping_address %}
        <div class="row">
            <div class="col-sm-6">
                <div class="sub-header">
                     <div class="col-sm-6">&nbsp;</div>
                    <h4 class="title-1 title-border text-uppercase mb-30">{% trans "Shipping Address" %}</h4>
                </div>
                {% if shipping_address %}
                    <div class="">
                          {% block shipping_address_actions %}
                           <a href="{% url 'checkout:shipping-address' %}" class="floatright" style="color:#c8a165">
                                {% trans "Change" %}
                            </a>
                        {% endblock %}
                       <address>
                               <div>
                                   <div class="col-sm-6">
                                    <table class="table">
                                        <tbody>
                                            {% for field in shipping_address.active_address_fields %}
                                                <tr>
                                                    <td>{{ field }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                               </div>
                            </address>

                        {% if shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                {% if guest_email %}
                                    <br/>{% trans "Email" %}: {{ guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if shipping_address.notes %}
                            <p class="title-1 title-border ">{% trans "Instructions" %}</p>
                            <p>{{ shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    </div>
                {% endif %}

                {% if shipping_method %}
                    <div class="col-sm-6">&nbsp;</div>
                        <h4 class="title-1 title-border text-uppercase mb-30">
                          {% trans "Shipping method" %}
                         </h4>
                          {% block shipping_method_actions %}
                            <a href="{% url 'checkout:shipping-method' %}" class="floatright" style="color:#c8a165">
                                {% trans "Change" %}
                            </a>
                          {% endblock %}
                        <p>{{ shipping_method.name }}
                            {% if shipping_method.description %}
                                - {{ shipping_method.description|safe }}
                            {% endif %}
                        </p>

                {% endif %}
            </div>

        {% endblock shipping_address %}

        {# You will almost certainly want to override this block to provide a payment summary #}

        {% block payment_method %}
            <div class="col-sm-6">
                <div class="sub-header">
                     <div class="col-sm-6">&nbsp;</div>
                    <h4 class="title-1 title-border text-uppercase mb-30">{% trans "Payment" %}</h4>
                </div>
                  <a href="{% url 'checkout:payment-details' %}" class="floatright" style="color:#c8a165">
                    {% trans "Change" %}
                  </a>
                <p>{% trans "Payment details to go here" %}</p>
            </div>
        </div>
        {% endblock payment_method %}
    </div>

    {% block order_contents %}
        <div class="sub-header">
            <div class="">
            {% block order_contents_actions %}
                 <div class="col-sm-6">&nbsp;</div>
                <a href="{% url 'basket:summary' %}" class="floatright" style="color:#c8a165">
                    {% trans "Edit order contents" %}
                </a>
                 <h4 class="title-1 title-border text-uppercase mb-30">{% trans "Order contents" %} </h4>
            {% endblock %}
            </div>

            <div class="">
              <div class="">
                <div class="table-content table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in basket.all_lines %}
                                {% purchase_info_for_line request line as session %}
                                <tr>
                                    <!-- Product Thumbnail -->
                                    <td class="product-thumbnail text-left">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{{ line.product.get_absolute_url }}">
                                                    {% with image=line.product.primary_image %}
                                                        {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
        <!--                                                <img src="{{ thumb.url }}" alt="{{ line.product.get_title }}" />-->
                                                        <img src="{% static 'oscar/img/cart/1.jpg' %}" alt="{{ line.product.get_title }}" />
                                                    {% endwith %}
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h4 class="post-title">
                                                    <a class="text-light-black" href="{{ line.product.get_absolute_url }}">
                                                        {{ line.product.get_title }}
                                                    </a>
                                                </h4>
                                                <p class="mb-0">{{ line.description }}</p>
                                                <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- Product Price -->
                                    <td class="product-price">
                                        {% if not line.unit_price_incl_tax and not line.unit_tax_excl_tax %}
                                            <p>&mdash;</p>
                                        {% else %}
                                            <p class="price_color text-right">
                                                {% if line.is_tax_known %}
                                                    {{ line.unit_price_incl_tax|currency:basket.currency }}
                                                {% else %}
                                                    {{ line.unit_price_excl_tax|currency:basket.currency }}
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    </td>

                                    <!-- Product Quantity -->
                                    <td class="product-quantity text-center">
                                        <h6 class="title-1 text-uppercase mb-30">{{ line.quantity }}</h6>
                                    </td>

                                    <!-- Product Subtotal -->
                                    <td class="product-subtotal text-right">
                                        {% if not line.line_price_incl_tax and not line.line_price_excl_tax %}
                                            <p>&mdash;</p>
                                        {% else %}
                                            <p class="price_color text-right">
                                                {% if line.is_tax_known %}
                                                    {{ line.line_price_incl_tax|currency:basket.currency }}
                                                {% else %}
                                                    {{ line.line_price_excl_tax|currency:basket.currency }}
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>


        <div class="row">
            <div class="row">
                <div class="col-sm-6">&nbsp;</div>
                    <div class="col-sm-6">
                         <div class="customer-login payment-details mt-20">
                            <h2 class="title-1 title-border text-uppercase mb-30">{% trans 'Totals' %}</h2>
                            {% include 'oscar/basket/partials/basket_totals.html' %}
                        </div>
                    </div>
              </div>
            </div>

        {% endblock order_contents %}

        {% block shipping_method %}
        {% endblock shipping_method %}

        {% block payment_details %}
        {% endblock payment_details %}

        {% block place_order %}
        {% endblock place_order %}
    </div>
</div>
{% endblock content %}

