{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Shipping address" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=1 %}
{% endblock %}


{% block order_contents %}{% endblock %}

{% block shipping_address %}
<div class="shopping-cart-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shopping-cart">
                     <div class="shop-cart-table check-out-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="billing-details pr-20">
                                        <h4 class="title-1 title-border text-uppercase mb-30">An address from your address book?</h4>
                                        {% if user.is_authenticated %}
                                            {% if addresses %}
                                                <div class="row">
                                                    {% for address in addresses %}
                                                        <div>
                                                            <address>
                                                                {% for field in address.active_address_fields %}
                                                                    <span>{{ field }}</span>{% if not forloop.first %}<br/>{% endif %}
                                                                {% endfor %}
                                                            </address>
                                                            <form action="{% url 'checkout:shipping-address' %}" method="post" id="select_shipping_address_{{ address.id }}" class="mb-0">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="action" value="ship_to" />
                                                                <input type="hidden" name="address_id" value="{{ address.id }}" />

                                                                {% if address.is_default_for_shipping %}
                                                                    <button type="submit" class="btn btn-success btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">
                                                                        <i class="fas fa-check-circle"></i> {% trans "Ship to your default shipping address" %}
                                                                    </button>
                                                                {% else %}
                                                                  <button type="submit" data-text="Ship to this address" class="button-one submit-button mt-15" data-loading-text="{% trans 'Saving...' %}">{% trans "Ship to this address" %}</button>
                                                                {% endif %}
                                                                <div class="btn-group address-controls">
                                                                    <a href="{% url 'checkout:user-address-update' pk=address.id %}" class="btn btn-secondary">{% trans "Edit address" %}</a>
                                                                    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"></button>
                                                                    <ul class="dropdown-menu">
                                                                        <a href="{% url 'checkout:user-address-delete' pk=address.id %}" class="btn-remove-address nav-link">{% trans "Delete" %}</a>
                                                                    </ul>
                                                                </div>
                                                            </form>
                                                             </div>
                                                    {% if forloop.counter|divisibleby:2 %}
                                                        </div><div class="row">
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                     </div>
                                </div>
                                 {% block new_address_form %}
                                <div class="col-md-6 mt-xs-30">
                                    <div class="billing-details pl-20">
                                        <h4 class="title-1 title-border text-uppercase mb-30">ship to different address</h4>
                                        <form action="{% url 'checkout:shipping-address' %}" method="post" id="new_shipping_address">
                                            {% csrf_token %}
                                            <input type="text" class="text-gray" name="first_name" maxlength="255" class="" placeholder="First name here" required="" id="id_first_name">
                                            <input type="text" class="text-gray" name="last_name" maxlength="255" class="form-control" placeholder="Last name here" required="" id="id_last_name">
                                            <input type="text" class="text-gray" name="line1" maxlength="255" class="form-control"  placeholder="First line of address here" required="" id="id_line1">
                                            <input type="text" class="text-gray" name="line2" maxlength="255" class="form-control"  placeholder="Second line of address here" id="id_line2">
                                            <input type="text" class="text-gray" name="line3" maxlength="255" class="form-control" placeholder="Third line of address here" id="id_line3">
                                            <input type="text" class="text-gray" name="line4" maxlength="255" class="form-control" placeholder="City here" required="" id="id_line4">
                                            <input type="text" class="text-gray" name="state" maxlength="255" class="form-control" placeholder="State/Country here" id="id_state">
                                            <input type="text" class="text-gray" name="postcode" maxlength="64" class="form-control" placeholder="Post/Zip code here" required="" id="id_postcode">
                                            <input type="text" class="text-gray" name="phone_number" maxlength="128" class="form-control" placeholder="Phone number here" id="id_phone_number">
                                            <textarea name="notes" class="custom-textarea" cols="40" rows="10" class="form-control" placeholder="Any instructions here" id="id_notes"></textarea>

                                            <button type="submit"  data-text="Submit" class="button-one submit-button mt-15" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                                            {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
                                        </form>
                                         {% endblock new_address_form %}
                                    </div>
                                 </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock shipping_address %}

{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
