{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Edit address" %} | {{ block.super }}
{% endblock title %}

{% block order_contents %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}
{% block payment_details %}{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=1 %}
{% endblock %}


{% block shipping_address %}
 <div class="shop-cart-table check-out-wrap">
    <div class="col-md-8 mt-xs-30">
        <div class="billing-details pl-20">
            <form id="update_user_address" method="post">
                 {% csrf_token %}
                {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
                <div class="offset-sm-4 col-sm-8">
                  <button type="submit"  data-text="Submit" class="button-one submit-button mt-15" data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                    {% trans "or" %} <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
                </div>
            </form>
        </div>
    </div>
 </div>
{% endblock shipping_address %}
