{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Enter a new password' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{% block heading_title %}{% trans "Registration" %}{% endblock heading_title %}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                         <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
                            </li>
                           <li class="">
                                <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
                            </li>
                            <li class="breadcrumb-item " aria-current="page">{% trans 'Enter a new password' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}


{% block content %}
<div class="login-area pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="customer-login text-left">
                    {% if validlink %}
                        <p> class="text_gray"> {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                        <form id="password_reset_form" method="post">
                            {% csrf_token %}
                            {% include 'oscar/partials/form_fields.html' %}
                            <div class="form-group form-actions">
                                <button class="button-one submit-button mt-15" data-text="Change my password" type="submit" data-loading-text="{% trans 'Changing...' %}">{% trans 'Change my password' %}</button>
                            </div>
                        </form>
                    {% else %}
                          <h4 class="title-1 title-border text-uppercase mb-30">
                            {% trans 'Password reset unsuccessful' %}
                        </h4>
                        <p class="text-gray">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
