{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset email sent' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="heading-banner-area overlay-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-banner">
                    <div class="heading-banner-title">
                        <h2>{% block heading_title %}{% trans "Registration" %}{% endblock heading_title %}</h2>
                    </div>
                    <div class="breadcumbs pb-15">
                         <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
                            </li>
                            <li class="" aria-current="page">{% trans 'Email Sent' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}


{% block content %}
<div class="login-area pt-80 pb-80">
    <div class="container">
        <div class="row">
             <!-- Login Form -->
            <div class="col-lg-8">
                <div class="customer-login text-left">
                     <h4 class="title-1 title-border text-uppercase mb-30">
                        {% trans 'Email Sent' %}
                    </h4>
                    <p class="text-gray">
                        {% blocktrans %}
                            We've e-mailed you instructions for resetting your password. You should be receiving it shortly.
                        {% endblocktrans %}
                    </p>
                     <p class="text-gray">
                     {% blocktrans %}
                        If you don't receive an email, please make sure you've entered the address you registered with, and check
                        your spam folder.
                    {% endblocktrans %}
                     </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
