{% load i18n %}
{% load currency_filters %}
{% load shipping_tags %}

<div id="basket_totals">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Product" %}</th>
                    <th class="text-end">{% trans "Total" %}</th>
                </tr>
            </thead>
            <tbody>
                {% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
                    {% block discount_totals %}
                        {% if offer_discounts or voucher_discounts %}
                            <tr>
                                <td class="text-left">{% trans "Basket total (before discounts)" %}</td>
                                <td class="text-end">
                                    {% if basket.is_tax_known and not show_tax_separately %}
                                        {{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
                                    {% else %}
                                        {{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
                                    {% endif %}
                                </td>
                            </tr>

                            {% for discount in offer_discounts %}
                                <tr>
                                    <td class="text-left">{% trans "Discount" %} {{ discount.name }}</td>
                                    <td class="text-end">-{{ discount.discount|currency:basket.currency }}</td>
                                </tr>
                            {% endfor %}

                            {% if voucher_discounts %}
                                {% for discount in voucher_discounts %}
                                    <tr>
                                        <td class="text-left">
                                            {% if discount.voucher.voucher_set %}
                                                {{ discount.voucher.voucher_set.name }} ({{ discount.voucher.code }})
                                            {% else %}
                                                {{ discount.voucher.name }} ({{ discount.voucher.code }})
                                            {% endif %}
                                        </td>
                                        <td class="text-end">-{{ discount.discount|currency:basket.currency }}</td>
                                    </tr>
                                    {% if editable %}
                                        <tr>
                                            <td colspan="2" class="text-right">
                                                <form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" value="{% trans 'Remove' %}" data-text="remove" class="button-one submit-button mt-15" >Remove</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}

                    {% block basket_total %}
                        {% if offer_discounts or voucher_discounts %}
                            <tr>
                                <td class="text-left">{% trans "Basket total (after discounts)" %}</td>
                                <td class="text-end">
                                    {% if not show_tax_separately and basket.is_tax_known %}
                                        {{ basket.total_incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ basket.total_excl_tax|currency:basket.currency }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="text-left">{% trans "Basket total" %}</td>
                                <td class="text-end">
                                    {% if not show_tax_separately and basket.is_tax_known %}
                                        {{ basket.total_incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ basket.total_excl_tax|currency:basket.currency }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endblock %}
                {% endwith %}

                {% block shipping_totals %}
                    <tr>
                        <td class="text-left">{% trans "Shipping" %}</td>
                        <td class="text-end">
                            {% if not shipping_method.is_discounted %}
                                {% if not show_tax_separately and shipping_charge.is_tax_known %}
                                    {{ shipping_charge.incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ shipping_charge.excl_tax|currency:basket.currency }}
                                {% endif %}
                            {% else %}
                                {% shipping_charge_discount shipping_method basket as shipping_discount %}
                                {% shipping_charge_excl_discount shipping_method basket as shipping_charge_excl_discount %}
                                {% if not show_tax_separately and shipping_charge_excl_discount.is_tax_known %}
                                    {{ shipping_charge_excl_discount.incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ shipping_charge_excl_discount.excl_tax|currency:basket.currency }}
                                {% endif %}
                                <span>-{{ shipping_discount|currency:basket.currency }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endblock %}

                {% block surcharges %}
                    {% if surcharges %}
                        <tr>
                            <td class="text-left">{% trans "Surcharges" %}</td>
                            <td class="text-end">
                                {% for surcharge in surcharges %}
                                    {{ surcharge.surcharge.name }}:
                                    {% if not show_tax_separately and surcharge.price.is_tax_known %}
                                        {{ surcharge.price.incl_tax|currency:basket.currency }}
                                    {% else %}
                                        {{ surcharge.price.excl_tax|currency:basket.currency }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endblock %}

                {% block tax_totals %}
                    {% if show_tax_separately %}
                        <tr>
                            <td class="text-left">{% trans "Tax" %} {% trans "Basket" %}</td>
                            <td class="text-end">{{ basket.total_tax|currency:basket.currency }}</td>
                        </tr>
                        <tr>
                            <td class="text-left">{% trans "Tax" %} {% trans "Shipping" %}</td>
                            <td class="text-end">{{ shipping_charge.tax|currency:basket.currency }}</td>
                        </tr>
                    {% endif %}
                {% endblock %}

                {% block post_order_action_totals %}
                    {% if basket.post_order_actions %}
                        <tr>
                            <td class="text-left">{% trans "Post order actions" %}</td>
                            <td class="text-end">
                                {% for discount in basket.post_order_actions %}
                                    <span>{{ discount.name }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endblock %}

                {% block order_total %}
                    <tr>
                        <td class="text-left">{% trans "Order total" %}</td>
                        <td class="text-end">
                            {% if order_total.is_tax_known %}
                                {{ order_total.incl_tax|currency:basket.currency }}
                            {% else %}
                                {{ order_total.excl_tax|currency:basket.currency }}
                            {% endif %}
                        </td>
                    </tr>
                    {% if not order_total.is_tax_known %}
                        <tr>
                            <td class="text-left"><small>{% trans "Taxes will be added during checkout." %}</small></td>
                        </tr>
                    {% endif %}
                {% endblock %}
            </tbody>
        </table>
    </div>
</div>

