{% load i18n %}
{% load wishlist_tags %}

{% if user.is_authenticated %}
    {% with wishlists=user.wishlists.all %}
        {% wishlists_containing_product wishlists product as product_wishlists %}
        {% if wishlists %}
            <div class="dropdown">
                <a href="#" class="wishlist-icon" data-bs-toggle="dropdown" title="{% trans 'Add to wish list' %}">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    {% for wishlist in wishlists %}
                        {% if wishlist not in product_wishlists %}
                            <li>
                                <a href="{% url 'customer:wishlists-add-product' key=wishlist.key product_pk=product.pk %}" class="dropdown-item">
                                    {% blocktrans with name=wishlist.name %}
                                        Add to '{{ name }}' wish list
                                    {% endblocktrans %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{% url 'customer:wishlists-create-with-product' product_pk=product.pk %}" class="dropdown-item">
                            {% trans 'Create a new wishlist' %}
                        </a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a href="{% url 'customer:wishlists-add-product' product_pk=product.pk %}" class="wishlist-icon" title="{% trans 'Add to wish list' %}">
                <i class="zmdi zmdi-favorite-outline"></i>
            </a>
        {% endif %}
    {% endwith %}
{% else %}
    <a href="#" class="wishlist-icon disabled" title="{% trans 'Please login to add products to a wish list.' %}">
        <i class="zmdi zmdi-favorite-outline"></i>
    </a>
{% endif %}
