{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy and session.price.exists %}
    {% basket_form request product 'single' as basket_form %}
    <form action="{% url 'basket:add' pk=product.pk %}" method="post" class="d-inline">
        {% csrf_token %}
        {{ basket_form.product_id }}
        {{ basket_form.quantity }} <!-- Hidden input for quantity -->
        <a href="#" onclick="this.closest('form').submit();" data-bs-toggle="tooltip" data-placement="top" title="{% trans 'Add To Cart' %}">
            <i class="zmdi zmdi-shopping-cart-plus"></i>
        </a>
    </form>
{% else %}
<span>
       <a href="#" title="{% trans 'This product is out of stock.' %}" onclick="showAlert(); return false;">
        <i class="zmdi zmdi-shopping-cart-plus"></i>
    </a>
</span>

{% endif %}


<script>
function showAlert() {
    // Create a new alert div
    var alertDiv = document.createElement('div');
    alertDiv.classList.add('alert', 'alert-danger', 'fade', 'show', 'alert-slide-in');

    // Add message content with the "Unavailable" text and icon
    var alertContent = document.createElement('div');
    alertContent.classList.add('alertinner');
    alertContent.innerHTML = '<i class="fas fa-exclamation-circle"></i> ' + '{% trans "Unavailable" %}';

    // Add progress bar
    var progressBar = document.createElement('div');
    progressBar.classList.add('progress-bar');
    progressBar.style.height = '4px';
    progressBar.style.backgroundColor = '#c0a16b';
    progressBar.style.position = 'absolute';
    progressBar.style.bottom = '0';
    progressBar.style.left = '0';
    progressBar.style.width = '100%';  // Initially set to 100%

    // Append progress bar and content to the alert div
    alertDiv.appendChild(alertContent);
    alertDiv.appendChild(progressBar);

    // Append the alert to the #messages container
    document.getElementById('messages').appendChild(alertDiv);

    // Gradually decrease the progress bar width to 0% over 5 seconds
    var width = 100;
    var progressInterval = setInterval(function() {
        if (width <= 0) {
            clearInterval(progressInterval); // Stop the interval once the width reaches 0
            alertDiv.remove(); // Remove the alert
        } else {
            width--; // Decrease width
            progressBar.style.width = width + '%'; // Update the progress bar width
        }
    }, 50); // Update the width every 50 milliseconds
}
</script>

