{% load display_tags %}
{% load i18n %}
{% load image_tags %}
{% load reviews_tags %}
{% load static %}

{% load currency_filters %}
{% load purchase_info_tags %}

{% block product %}
<div class="col-lg-12">
    <div class="single-product clearfix">
        <div class="product-img">
            <span class="pro-label new-label">new</span>
            <a href="single-product.html"><img src="{% static 'oscar/img/product/6.jpg' %}" alt="" /></a>
        </div>
        <div class="product-info">
            <div class="fix">
                <h4 class="post-title floatleft"><a href="{{ product.get_absolute_url }}">{{product.title}}</a></h4>
                {% iffeature "reviews" %}
                {% if  product.rating %}
                    <span class="pro-rating floatright">
                        {% for i in "12345"|slice:":5" %}
                            {% if forloop.counter <= product.rating %}
                               	<a href="#"><i class="zmdi zmdi-star"></i></a>
                            {% else %}
                                <i class="zmdi zmdi-star"></i>
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
                {% endiffeature %}
                {% if not product.rating %}
                    <span class="pro-rating floatright">
                        {% for i in "12345"|slice:":5" %}
                            <i class="zmdi zmdi-star"></i>
                        {% endfor %}
                    </span>

                {% endif %}
            </div>

            <div class="fix mb-20">
                <span class="pro-price">
                     {% include "oscar/catalogue/partials/stock_record.html" %}
                </span>
            </div>
            <div class="product-description">
                <p>{{product.get_meta_description | truncatewords:50}}</p>
            </div>
            <div class="clearfix">
                <div class="cart-plus-minus">
                    <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                </div>
                <div class="product-action clearfix">
                    <!-- Include the Wishlist functionality -->
                    {% include "oscar/catalogue/partials/add_to_wishlist.html" %}
                    <a href="#" data-bs-toggle="modal"  data-bs-target="#productModal" title="Quick View"><i class="zmdi zmdi-zoom-in"></i></a>
                    <a href="#" data-bs-toggle="tooltip" data-placement="top" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                    <!-- Include the Add to Cart functionality -->
                    {% include "oscar/catalogue/partials/add_to_basket_form_compact.html" %} </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
