{% load static %}
{% block footer %}
    {% comment %}
        Could be used for displaying links to privacy policy, terms of service, etc.
     {% endcomment %}
    <!-- FOOTER START -->
    <footer>
        <!-- Footer-area start -->
        <div class="footer-area footer-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer">
                            <h3 class="footer-title  title-border">Contact Us</h3>
                            <ul class="footer-contact">
                                <li><span>Address :</span>18-D, PIA Main Boulevard PIA Housing, Scheme,<br>Lahore, Pakistan</li>
                                <li><span>Cell-Phone :</span>(+92) 42-3788-4806</li>
                                <li><span>Email :</span>email@codefulcrum.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
<!--                        <div class="single-footer">-->
<!--                            <h3 class="footer-title  title-border">accounts</h3>-->
<!--                            <ul class="footer-menu">-->
<!--                                <li><a href="{% url 'customer:summary' %}"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>-->
<!--                                <li><a href="{% url 'customer:wishlists-list' %}"><i class="zmdi zmdi-dot-circle"></i>My Wishlist</a></li>-->
<!--                                <li><a href="{% url 'basket:summary' %}"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>-->
<!--                                <li><a href="{% url 'customer:login' %}"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>-->
<!--                                <li><a href="{% url 'checkout:index' %}"><i class="zmdi zmdi-dot-circle"></i>Check out</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
<!--                        <div class="single-footer">-->
<!--                            <h3 class="footer-title  title-border">shipping</h3>-->
<!--                            <ul class="footer-menu">-->
<!--                                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>New Products</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Top Sellers</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Manufactirers</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Suppliers</a></li>-->
<!--                                <li><a href="#"><i class="zmdi zmdi-dot-circle"></i>Specials</a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                    <div class="col-lg-4 col-md-6">
                         <div class="single-footer">
                            <h3 class="footer-title  title-border">accounts</h3>
                            <ul class="footer-menu">
                                <li><a href="{% url 'customer:summary' %}"><i class="zmdi zmdi-dot-circle"></i>My Account</a></li>
                                <li><a href="{% url 'customer:wishlists-list' %}"><i class="zmdi zmdi-dot-circle"></i>My Wishlist</a></li>
                                <li><a href="{% url 'basket:summary' %}"><i class="zmdi zmdi-dot-circle"></i>My Cart</a></li>
                                <li><a href="{% url 'customer:login' %}"><i class="zmdi zmdi-dot-circle"></i>Sign In</a></li>
                                <li><a href="{% url 'checkout:index' %}"><i class="zmdi zmdi-dot-circle"></i>Check out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-area end -->
        <!-- Copyright-area start -->
        <div class="copyright-area copyright-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p class="mb-0">&copy; CodeFulcrum, LLC © 2024 All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment  text-md-end">
                            <img src="{% static 'oscar/img/payment/1.png' %}" alt="" />
                            <img src="{% static 'oscar/img/payment/2.png' %}" alt="" />
                            <img src="{% static 'oscar/img/payment/3.png' %}" alt="" />
                            <img src="{% static 'oscar/img/payment/4.png' %}" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright-area start -->
    </footer>
    <!-- FOOTER END -->
{% endblock %}

