{% load i18n %}

<form {% if form_id %}id="{{ form_id }}"{% endif %} class="{{ class }}" method="{{ method|default:"post" }}"
    {% if action %}action="{{ action }}"{% endif %}
    {% if includes_files %}enctype="multipart/form-data"{% endif %}>

    {% if not method == "get" %}{% csrf_token %}{% endif %}
    {% include 'oscar/partials/form_fields.html' %}
    <div class="form-group{% if style == 'horizontal' %} row{% endif %}">
        <div class="{% if style == 'horizontal' %}offset-sm-4 col-sm-8{% endif %}">
            <button class="button-one submit-button mt-15" data-text="save" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
            <button class="button-one submit-button mt-15" style="background:#6c757d" data-text="Cancel" href="#" onclick="window.history.go(-1);return false" >{% trans "Cancel" %}</button>
        </div>
    </div>
</form>
