{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load static %}

<!-- Wrapper for the header -->
<div class="wrapper bg-dark-white">
    <!-- HEADER-AREA START -->
    <header id="sticky-menu" class="header header-2">
        <div class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <!-- Logo section -->
                    <div class="col-md-4 offset-md-4 col-7">
                        <div class="logo text-md-center">
                            <a href="{% url 'catalogue:index' %}">
                                <img src="{% static 'oscar/img/logo/logo.png' %}" alt="Logo" />
                            </a>
                        </div>
                    </div>

                    <!-- Cart section -->
                    <div class="col-md-4 col-5">
                        <div class="mini-cart text-end">
                            <ul>
                                <li>
                                    <a class="cart-icon" href="{% url 'basket:summary' %}">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                        <span>{% if not request.basket.is_empty %}{{ request.basket.num_items }}{% else %}0{% endif %}</span>
                                    </a>
                                    <div class="mini-cart-brief text-left">
                                        <div class="cart-items">
                                            <p class="mb-0">You have <span>{{ request.basket.num_items }} items</span> in your shopping bag</p>
                                        </div>
                                        <div class="all-cart-product clearfix">
                                            {% for line in request.basket.all_lines %}
                                                <div class="single-cart clearfix">
                                                    <div class="cart-photo">
                                                        <!--<img src="{{ line.product.primary_image.url }}" alt="{{ line.product.title }}" />-->
                                                        <a href="#"><img img src="{% static 'oscar/img/cart/1.jpg' %}" alt="{{ line.product.title }}" /></a>
                                                    </div>
                                                    <div class="cart-info">
                                                        <h5><a href="#">{{ line.product.title }}</a></h5>
                                                        <p class="mb-0">Price: {{ line.line_price|currency:request.basket.currency }}</p>
                                                        <p class="mb-0">Qty: {{ line.quantity }}</p>
                                                        <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="cart-totals">
                                            <h5 class="mb-0">Total <span class="floatright">{{ request.basket.total_incl_tax|currency:request.basket.currency }}</span></h5>
                                        </div>
                                        <div class="cart-bottom clearfix">
                                            <a href="{% url 'basket:summary' %}" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
                                            <a href="{% url 'checkout:index' %}" class="button-one floatright text-uppercase" data-text="Check out">Check out</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MAIN-MENU START -->
        <div class="menu-toggle menu-toggle-2 hamburger hamburger--emphatic d-none d-md-block">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

        <div class="main-menu d-none d-md-block">
            <nav>
                <ul>
                    <li><a href="{% url 'catalogue:index' %}">Home</a>
                       <div class="sub-menu menu-scroll">
                                <ul>
                                    <li class="menu-title">Page's</li>
                                    <li><a href="{% url 'catalogue:index' %}">Home Version 1</a></li>
                                    <li><a href="{% url 'catalogue:index' %}">Home Version 2</a></li>
                                </ul>
                            </div>
                    </li>
                    <li><a href="#">Products</a>
                        <div class="mega-menu menu-scroll">
                            <div class="table">
                                <div class="table-cell">
                                    <div class="half-width">
                                        <ul>
                                            <li class="menu-title">best brands</li>
                                            <li><a href="#">henning koppel</a></li>
                                            <li><a href="#">jehs + Laub</a></li>
                                            <li><a href="#">vicke lindstrand</a></li>
                                            <li><a href="#">don chadwick</a></li>
                                            <li><a href="#">akiko kuwahata</a></li>
                                            <li><a href="#">barbro berlin</a></li>
                                            <li><a href="#">cecilia hall</a></li>
                                            <li><a href="#">don chadwick</a></li>
                                        </ul>
                                    </div>
                                    <div class="half-width">
                                        <ul>
                                            <li class="menu-title">popular brands</li>
                                            <li><a href="#">akiko kuwahata</a></li>
                                            <li><a href="#">barbro berlin</a></li>
                                            <li><a href="#">cecilia hall</a></li>
                                            <li><a href="#">don chadwick</a></li>
                                            <li><a href="#">henning koppel</a></li>
                                            <li><a href="#">jehs + Laub</a></li>
                                            <li><a href="#">vicke lindstrand</a></li>
                                            <li><a href="#">don chadwick</a></li>
                                        </ul>
                                    </div>
                                    <div class="full-width">
                                        <div class="mega-menu-img">
                                            <a href="#"><img src="{% static 'oscar/img/megamenu/1.jpg' %}" alt="Mega Menu Image" /></a>
                                        </div>
                                    </div>
                                    <div class="pb-80"></div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a href="#">Shortcodes</a>
                        <div class="sub-menu menu-scroll">
                            <ul>
                                <li class="menu-title">Shortcodes</li>
                              <li>
                                <a href="#">Accordion</a></li>
                                <li><a href="#">Toggles</a></li>
                                <li><a href="#">Tab</a></li>
                                <li><a href="#">Product Tab</a></li>
                                <li><a href="#">Product Tab 2</a></li>
                                <li><a href="#">product carousel</a></li>
                                <li><a href="#">product carousel 2</a></li>
                                <li><a href="#">Featured Product</a></li>
                                <li><a href="#">Featured Product 2</a></li>
                                <li><a href="#">Button</a></li>
                                <li><a href="#">Table</a></li>
                                <li><a href="#">Progress Bar</a></li>
                                <li><a href="https://codefulcrum.com/blogs/">Blog</a></li>
                                <li><a href="https://codefulcrum.com/blogs/">Blog - 2</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Footer</a></li>
                                <li><a href="#">Footer 2</a></li>
                                <li><a href="#">Map</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a href="#">Accessories</a></li>
                    <li><a href="{% url 'catalogue:index' %}">Lookbook</a></li>
                    <li><a href="https://codefulcrum.com/blogs/">Blog</a></li>
                    <li><a href="#">Pages</a>
                        <div class="sub-menu menu-scroll">
                            <ul>
                            <li class="menu-title">Page's</li>
                                <li><a href="{% url 'catalogue:index' %}">Shop</a></li>
                                <li><a href="#">Shop Sidebar</a></li>
                                <li><a href="#">Shop Right Sidebar</a></li>
                                <li><a href="#">Shop List</a></li>
                                <li><a href="#">Shop List right sidebar</a></li>
                                <li><a href="#">Single Product</a></li>
                                <li><a href="#">Single Product Sidebar</a></li>
                                <li><a href="{% url 'basket:summary' %}">Shopping Cart</a></li>
                                <li><a href="{% url 'customer:wishlists-list' %}">Wishlist</a></li>
                                <li><a href="{% url 'checkout:index' %}">Checkout</a></li>
                                <li><a href="{% url 'customer:order-list' %}">Order</a></li>
                                <li><a href="{% url 'customer:login' %}">login / Registration</a></li>
                                <li><a href="{% url 'customer:logout' %}">logout</a></li>
                                <li><a href="{% url 'customer:summary' %}">My Account</a></li>
                                <li><a href="#">404</a></li>
                                <li><a href="https://codefulcrum.com/blogs/">Blog</a></li>
                                <li><a href="#">Single Blog</a></li>
                                <li><a href="#">Single Blog Sidebar</a></li>
                                <li><a href="https://codefulcrum.com/about-us/">About Us</a></li>
                                <li><a href="https://codefulcrum.com/contact/">Contact</a></li>
                            </ul>
                            <li><a href="https://codefulcrum.com/about-us/">about us</a></li>
							<li><a href="https://codefulcrum.com/contact/">contact</a></li>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Mobile-menu start -->
    <div class="mobile-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 d-block d-md-none">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="{% url 'catalogue:index' %}">home</a>
                                    <ul>
                                        <li><a href="{% url 'catalogue:index' %}">Home Version 1</a></li>
                                        <li><a href="{% url 'catalogue:index' %}">Home Version 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'catalogue:index' %}">products</a></li>
                                <li><a href="s{% url 'catalogue:index' %}">accesories</a></li>
                                <li><a href="{% url 'catalogue:index' %}">lookbook</a></li>
                                <li><a href="https://codefulcrum.com/blogs/">blog</a></li>
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="{% url 'catalogue:index' %}">Shop</a></li>
                                        <li><a href="#">Shop Sidebar</a></li>
                                        <li><a href="{% url 'catalogue:index' %}">Shop List</a></li>
                                        <li><a href="#">Single Product</a></li>
                                        <li><a href="#">Single Product Sidebar</a></li>
                                        <li><a href="{% url 'basket:summary' %}">Shopping Cart</a></li>
                                        <li><a href="{% url 'customer:wishlists-list' %}">Wishlist</a></li>
                                        <li><a href="{% url 'checkout:index' %}">Checkout</a></li>
                                        <li><a href="{% url 'customer:order-list' %}">Order</a></li>
                                        <li><a href="{% url 'customer:login' %}">login / Registration</a></li>
                                        <li><a href="{% url 'customer:logout' %}">logout</a></li>
                                        <li><a href="{% url 'customer:summary' %}">My Account</a></li>
                                        <li><a href="#">404</a></li>
                                        <li><a href="https://codefulcrum.com/blogs/">Blog</a></li>
                                        <li><a href="#">Single Blog</a></li>
                                        <li><a href="#">Single Blog Sidebar</a></li>
                                        <li><a href="http://codefulcrum.com/about-us/">About Us</a></li>
                                        <li><a href="https://codefulcrum.com/contact/">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="https://codefulcrum.com/about-us/">about us</a></li>
                                <li><a href="https://codefulcrum.com/contact/">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile-menu end -->
</div>
